* {
    padding:0;
    margin:0;
}
html {
    overflow:hidden;

}
body {
    color:#555 ;
    width:360px;
    font-size:12px;
    overflow:hidden;
}
h1 {
    font-size:16px;
    margin:10px 10px 0px 0px;
    text-align: right;
    line-height:18px;
}
h2 {
    font-size:14px;
    margin:5px 0;
    display:none;
}

#disclaimer {
    color: #999;
    font-size:9px;
}


#met { font-weight:bold}

.b1 {
    font-weight:bold;
    background:#ccc;
    padding:3px;
    font-size:14px;
}

#movies {
    padding:0;
    width:330px;
    overflow-y: scroll;
    height: 445px;
    margin:0 auto;
}

#movies li {
    float: left;
    margin:5px;
    padding:2px 1px;
    width:66px;
    height:140px;
    overflow:hidden;
    background:#ccc;
    text-align:center;
    -webkit-border-radius: 4px;
    position:relative;
}
.foot {
    margin-top:2px;
    border-top:1px solid #999;
    padding:2px;
    overflow:hidden;
    padding:10px;
}
.foot a {
    text-decoration:none;
}
.butt {
    float:right;
}

.nbutt2 {
    height:25px;
    overflow:hidden;
    line-height:25px;
}
#warn {
    color :#777;
}

a.close {
    visibility:hidden;
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
}
a.close.active {
    visibility:visible;
}
a.image {
    display:block;
    height:96px;
    width:64px;
}
.butt2 {
    margin-top:6px;
}
ul#movies a.btn {
    width: 34px;
    height: 10px;
    line-height: 10px;
    margin-top: 1px;
}
.help-block {
    padding: 2px 10px;
    width: 340px;
    display: block;
    height: 40px;
}
#status {
    margin:10px;
}

span.loader {
    display:none;
    position:absolute;
    top:10px;
    left:10px;
    width:16px;
    height:16px;
    background:transparent url("/loader.gif") top left no-repeat scroll;
}
.gray {
    background: #EEE;
    height:160px;
}
.page-header {
    margin-bottom: 10px;
}
.close:hover {
    color: #FF0000;
    opacity:1;
}